@media screen and (max-width:1120px){
/****************************

** Bottom Nav Section **

****************************/
.bottom-nav-section{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.bottom-nav-section ul.navbar{
  position: absolute;
  width: 50%;
  background-color: #fff;
  top: 130px;
  right: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(100%);
  transition: all .3s ease-in;
}
.bottom-nav-section ul.navbar.nav-toggle{
  transform: translateX(0);
}
.bottom-nav-section .burger{
display: flex;
flex-direction: column;
gap: 5px;
cursor: pointer;
}
}
@media screen and (max-width:1024px){
/****************************

** Top Nav Section **

****************************/
.exhibition-section .btc{
  width: 80vw;
}
.exhibition-section .btc img{
  width: 45%;
}
.exhibition-section .btc .box-1{
  position: absolute;
  top: 0;
  left: 5%;
}
.exhibition-section .btc .box-2{
  position: absolute;
  top: 40%;
  left: 0;
}
.exhibition-section .btc .box-3{
  position: absolute;
  bottom: 0;
  left: 5%;
}
.exhibition-section .btc .box-4{
  position: absolute;
  top: 0;
  right: 5%;
}
.exhibition-section .btc .box-5{
  position: absolute;
  top: 40%;
  right: 0;
}
.exhibition-section .btc .box-6{
  position: absolute;
  bottom: 0;
  right: 5%;
}
.exhibition-section .btc img{
  width: 55%;
}
.footer-bottom .nav-res{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.footer-bottom .nav-res ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

}
@media screen and (max-width:790px){
  /****************************
  
  ** Top Nav Section **
  
  ****************************/
  .top-nav-section .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .exhibition-section .btc img{
    width: 45%;
  }
  .footer-bottom .nav-res{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .footer-bottom .nav-res ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  }
@media screen and (max-width:720px){
  /****************************
  
  ** Hero Section **
  
  ****************************/
  .hero-buttons a{
    display: block;
    width: 120px;
  }
  .hero-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .hero-buttons a{
    display: block;
    width: 120px;
  }
  }